parameters:
    level: 3
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests/Unit/ConfigurationTest.php
        - tests/Unit/Utils
    excludePaths:
        - src/Providers/*
        - src/Services/RedeamBookingService.php
        - src/Services/SmartOrderBookingService.php
        - src/DataTransferObjects/*
        - src/Contracts/*
        - src/ThemeParkBookingManager.php
        - src/Abstracts/*
        - src/ThemeParkManager.php
        - src/TokenRepository/*
        - src/Commands/*
        - src/Models/*
        - src/Services/VoucherGenerator.php
        - src/ThemeParkBookingServiceProvider.php
        - src/ThemeParkAdaptersServiceProvider.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    checkMissingIterableValueType: false
